[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/Boxer"]
	path = lib/Boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/nfd"]
	path = lib/nfd
	url = https://github.com/JulesFouchy/nativefiledialog-extended
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/JulesFouchy/imgui/
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/onqtam/doctest
