[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/Boxer"]
	path = lib/Boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/onqtam/doctest
[submodule "lib/Vookoo"]
	path = lib/Vookoo
	url = https://github.com/CoolLibs/Vookoo
[submodule "lib/scope_guard"]
	path = lib/scope_guard
	url = https://github.com/ricab/scope_guard
[submodule "lib/easy-shaderc"]
	path = lib/easy-shaderc
	url = https://github.com/CoolLibs/easy-shaderc
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/CoolLibs/nativefiledialog-extended
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/CoolLibs/imgui
[submodule "CMakeUtils"]
	path = CMakeUtils
	url = https://github.com/CoolLibs/CMakeUtils
[submodule "lib/img"]
	path = lib/img
	url = https://github.com/CoolLibs/img
[submodule "lib/exe_path"]
	path = lib/exe_path
	url = https://github.com/CoolLibs/exe_path
[submodule "lib/serv"]
	path = lib/serv
	url = https://github.com/CoolLibs/serv
[submodule "lib/stringify"]
	path = lib/stringify
	url = https://github.com/CoolLibs/stringify
[submodule "lib/smart"]
	path = lib/smart
	url = https://github.com/CoolLibs/smart
[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
[submodule "lib/op"]
	path = lib/op
	url = https://github.com/CoolLibs/op
[submodule "lib/reg"]
	path = lib/reg
	url = https://github.com/CoolLibs/reg
[submodule "lib/wafl"]
	path = lib/wafl
	url = https://github.com/CoolLibs/wafl.git
[submodule "lib/algorithms"]
	path = lib/algorithms
	url = https://github.com/CoolLibs/algorithms.git
[submodule "lib/imgui_gradient"]
	path = lib/imgui_gradient
	url = https://github.com/CoolLibs/imgui_gradient.git
[submodule "lib/expected"]
	path = lib/expected
	url = https://github.com/TartanLlama/expected
[submodule "lib/folder_watcher"]
	path = lib/folder_watcher
	url = https://github.com/CoolLibs/folder_watcher.git
[submodule "lib/glpp-extended"]
	path = lib/glpp-extended
	url = https://github.com/CoolLibs/glpp-extended
[submodule "lib/os_name"]
	path = lib/os_name
	url = https://github.com/CoolLibs/os_name
[submodule "lib/IconFontCppHeaders"]
	path = lib/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "lib/imgui_markdown"]
	path = lib/imgui_markdown
	url = https://github.com/CoolLibs/imgui_markdown
[submodule "lib/ImGui_StyleEditor"]
	path = lib/ImGui_StyleEditor
	url = https://github.com/CoolLibs/ImGui_StyleEditor/
[submodule "lib/wants_dark_theme"]
	path = lib/wants_dark_theme
	url = https://github.com/CoolLibs/wants_dark_theme
[submodule "lib/GSL"]
	path = lib/GSL
	url = https://github.com/microsoft/GSL
[submodule "lib/imgui-node-editor"]
	path = lib/imgui-node-editor
	url = https://github.com/CoolLibs/imgui-node-editor
[submodule "lib/RtMidiWrapper"]
	path = lib/RtMidiWrapper
	url = https://github.com/CoolLibs/RtMidiWrapper
[submodule "lib/Audio"]
	path = lib/Audio
	url = https://github.com/CoolLibs/Audio
[submodule "lib/fix-tdr-delay"]
	path = lib/fix-tdr-delay
	url = https://github.com/CoolLibs/fix-tdr-delay
[submodule "lib/oscpack"]
	path = lib/oscpack
	url = https://github.com/CoolLibs/oscpack
[submodule "lib/open"]
	path = lib/open
	url = https://github.com/CoolLibs/open
[submodule "lib/easy_ffmpeg"]
	path = lib/easy_ffmpeg
	url = https://github.com/CoolLibs/easy_ffmpeg
[submodule "lib/ser20"]
	path = lib/ser20
	url = https://github.com/CoolLibs/ser20
[submodule "lib/wcam"]
	path = lib/wcam
	url = https://github.com/CoolLibs/wcam
[submodule "res/shaders/GLSL-Color-Functions"]
	path = res/shaders/GLSL-Color-Functions
	url = https://github.com/Rachmanin0xFF/GLSL-Color-Functions
[submodule "lib/ImGuiNotify"]
	path = lib/ImGuiNotify
	url = https://github.com/CoolLibs/ImGuiNotify
