[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/Boxer"]
	path = lib/Boxer
	url = https://github.com/aaronmjacobs/Boxer
[submodule "lib/doctest"]
	path = lib/doctest
	url = https://github.com/onqtam/doctest
[submodule "lib/Vookoo"]
	path = lib/Vookoo
	url = https://github.com/CoolLibs/Vookoo
[submodule "lib/scope_guard"]
	path = lib/scope_guard
	url = https://github.com/ricab/scope_guard
[submodule "lib/glpp"]
	path = lib/glpp
	url = https://github.com/CoolLibs/glpp
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/CoolLibs/glm
[submodule "lib/easy-shaderc"]
	path = lib/easy-shaderc
	url = https://github.com/CoolLibs/easy-shaderc
[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/CoolLibs/nativefiledialog-extended
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/CoolLibs/imgui
[submodule "CMakeUtils"]
	path = CMakeUtils
	url = https://github.com/CoolLibs/CMakeUtils
[submodule "lib/img"]
	path = lib/img
	url = https://github.com/CoolLibs/img
[submodule "lib/exe_path"]
	path = lib/exe_path
	url = https://github.com/CoolLibs/exe_path
[submodule "lib/serv"]
	path = lib/serv
	url = https://github.com/CoolLibs/serv
[submodule "lib/stringify"]
	path = lib/stringify
	url = https://github.com/CoolLibs/stringify
[submodule "lib/smart"]
	path = lib/smart
	url = https://github.com/CoolLibs/smart
[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
[submodule "lib/op"]
	path = lib/op
	url = https://github.com/CoolLibs/op
[submodule "lib/type_from_string"]
	path = lib/type_from_string
	url = https://github.com/CoolLibs/type_from_string
[submodule "lib/reg"]
	path = lib/reg
	url = https://github.com/CoolLibs/reg
[submodule "lib/wafl"]
	path = lib/wafl
	url = https://github.com/CoolLibs/wafl.git
[submodule "lib/algorithms"]
	path = lib/algorithms
	url = https://github.com/CoolLibs/algorithms.git
[submodule "lib/open_link"]
	path = lib/open_link
	url = https://github.com/CoolLibs/open_link
